.container {
    padding: 100px 3rem;
    background-color: #1a1a1a;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;

}

.activeTab {
    padding: 10px 20px;
    background-color: #ff4444;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
    border: 2px solid white;
    padding: 30px;
    border-radius: 7px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.inputGroup label {
    margin-bottom: 5px;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

.loginButton {
    padding: 10px 20px;
    background-color: #ff4444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.loginButton:hover {
    background-color: #cc3333;
}

.error {
    color: #ff4444;
    margin-top: 10px;
}